{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Delete DynDNS::Zone {{ object.zone }}</h1>

<form method="POST">
	{% csrf_token %}
	Do you really want to remove this zone {{ object.name }}? <br />
	All associated hosts will be deleted as well!

	<p>
	{% for host in object.hosts.all %}
	<a href="{{ host.get_absolute_url }}"><span class="badge badge-secondary">{{ host.name }}</span></a>
	{% endfor %}
	</p>

	{{form.as_p}}
	<div class="form-actions">
		<button type="Submit" class="btn btn-danger">Delete</button>
	</div>
</form>

{% endblock %}