{% extends "base.html" %}

{% load fontawesome_5 %}

{% block content %}
<h1>DynDNS::Host <code>{{ object.name }}.{{ object.zone }}</code></h1>

Use one of the following endpoints to update this host.

<ul class="nav nav-tabs" id="deployTab" role="tablist">
	{% for endpoint in endpoints %}
		<li class="nav-item">
			<a class="nav-link{% if endpoint.active %} active{% endif %}" id="{{ endpoint.name }}-tab" data-toggle="tab" href="#{{ endpoint.id }}" role="tab" aria-controls="{{ endpoint.id }}" aria-selected="false">{{ endpoint.name }}</a>
		</li>
	{% endfor %}
	</ul>
	<div class="tab-content" id="deployTabContent">
	{% for endpoint in endpoints %}
		<div class="tab-pane fade{% if endpoint.active %} show active{% endif %}" id="{{ endpoint.id }}" role="tabpanel" aria-labelledby="{{ endpoint.id }}-tab">
			<dl>
				<dt>Update URL</dt>
				<dd><code>{{ endpoint.url }}</code></dd>
				<dt>Domain name</dt>
				<dd><code>{{ object.name }}.{{ object.zone }}</code></dd>
				<dt>Username</dt>
				<dd><code>dummy</code></dd>
				<dt>Password</dt>
				<dd><code>dummy</code></dd>
			</dl>
		</div>
	{% endfor %}
</div>

{% endblock %}
