{% extends "base.html" %}

{% load fontawesome_5 %}
{% load helpers %}

{% block content %}
<h1>DynDNS::Zones</h1>

<table class="table">
	<thead>
		<tr>
			<th>Zone</th>
			<th>Hosts</th>
			<th>
				<span class="float-right">
					<a class="btn btn-sm btn-primary" href="{% url 'ddns:zone-create' %}">{% fa5_icon 'plus' %} New zone</a>
				</span>
			</th>
		</tr>
	</thead>
{% for zone in object_list %}
	<tr{% if not zone.enabled %} class="table-secondary"{% endif %}>
		<th>{% enabled_icon zone %} <a href="{{ zone.get_absolute_url }}">{{ zone.zone.name }}</a></th>
		<td></td>
		<td>
			{% if zone.enabled %}
				<a class="btn btn-sm btn-secondary" href="{% url 'ddns:zone-disable' zone.pk %}">{% fa5_icon 'ban' %} disable</a>
			{% else %}
				<a class="btn btn-sm btn-primary" href="{% url 'ddns:zone-enable' zone.pk %}">{% fa5_icon 'plus' %} enable</a>
			{% endif %}
			<a class="btn btn-sm btn-primary" href="{% url 'ddns:zone-enable' zone.pk %}">{% fa5_icon 'plus' %} enable</a>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}