{% extends "base.html" %}

{% load fontawesome_5 %}

{% block content %}
<a class="btn btn-primary float-right" href="{% url 'deploy' %}">{% fa5_icon 'upload' %} Deploy</a>
<h1>Local zones</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th># Records</th>
			<th>Admins</th>
			<th><a class="btn btn-sm btn-primary float-right" href="{% url 'zone-create' %}">{% fa5_icon 'plus' %} New zone</a></th>
		</tr>
	</thead>
{% for zone in object_list %}
	<tr{% if not zone.enabled %} class="table-secondary"{% endif %}>
		<th>
			<a href="{{ zone.get_absolute_url }}">{{ zone.name }}</a>
		</th>
		<td>{{ zone.records.count }}</td>
		<td>{% for u in zone.admins.all %}<span class="badge badge-secondary">{{ u.username }}</span>{% endfor %}</td>
		<td>
			{% if zone.enabled %}
				<a class="btn btn-sm btn-secondary" href="{% url 'zone-disable' zone.pk %}">{% fa5_icon 'ban' %} disable</a>
			{% else %}
				<a class="btn btn-sm btn-primary" href="{% url 'zone-enable' zone.pk %}">{% fa5_icon 'plus' %} enable</a>
			{% endif %}
			<a class="btn btn-sm btn-primary" href="{% url 'zone-edit' zone.pk %}">{% fa5_icon 'edit' %} edit</a>
			<a class="btn btn-sm btn-primary" href="{% url 'zone-delete' zone.pk %}">{% fa5_icon 'trash' %} delete</a>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}