{% extends "base.html" %}

{% load fontawesome_5 %}
{% load helpers %}

{% block content %}
<h1>Zones</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Owner</th>
			<th>
				<span class="float-right">
					<a class="btn btn-sm btn-primary" href="{% url 'config:zone-create' %}">{% fa5_icon 'plus' %} New zone</a>
					<a class="btn btn-sm btn-primary" href="{% url 'config:zone-deploy' %}">{% fa5_icon 'cloud-upload-alt' %} Deploy zones</a>
				</span>
			</th>
		</tr>
	</thead>
{% for zone in object_list %}
	{% if zone.is_owned %}
	<tr>
		<th><a href="{{ zone.get_absolute_url }}">{{ zone.name }}</a></th>
		<td>{% show_owner zone %}</td>
		<td>
			<a class="btn btn-sm btn-primary" href="{% url 'config:zone-edit' zone.pk %}">{% fa5_icon 'edit' %} edit</a>
			<a class="btn btn-sm btn-primary" href="{% url 'config:zone-delete' zone.pk %}">{% fa5_icon 'trash' %} delete</a>
		</td>
	</tr>
	{% endif %}
{% endfor %}
</table>

{% endblock %}