{% extends "base.html" %}

{% load fontawesome_5 %}

{% block content %}
<h1>Zone {{ object.name }}</h1>

<div class="card">
<div class="row card-body">
	<div class="col">
		Zone is {% if object.enabled %}enabled{% else %}disabled{% endif %},
		admin users:
		{% for u in object.admins.all %}<span class="badge badge-secondary">{{ u.username }}</span> {% endfor %}
	</div>
</div>
</div>
<br />

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>TTL</th>
			<th>Class</th>
			<th>Type</th>
			<th>Data</th>
			<th>
				<div class="float-right">
					<a class="btn btn-sm btn-primary" href="{% url 'record-create' zone.pk %}">{% fa5_icon 'plus' %} new record</a>
				</div>
			</th>
		</tr>
	</thead>
{% for record in records %}
	<tr>
		<th>{{ record.rname }}</th>
		<td>{{ record.rttl }}</td>
		<td>{{ record.rclass }}</td>
		<td>{{ record.rtype }}</td>
		<td>{{ record.rdata }}</td>
		<td>
			<a class="btn btn-sm btn-primary" href="{% url 'record-delete' zone.pk record.serialized %}">{% fa5_icon 'trash' %} delete</a>
			<a class="btn btn-sm btn-primary" href="{% url 'record-edit' zone.pk record.serialized %}">{% fa5_icon 'edit' %} edit</a>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
