{% extends "base.html" %}

{% block content %}
<h1>Federation::Server {{ object.name }}</h1>

<dl>
	<dt>Name</dt>
	<dd>{{ object.name }}</dd>
	<dt>Enabled</dt>
	<dd>{{ object.enabled }}</dd>
	{% if object.remote %}
	<dt>Remote</dt>
	<dd><a href="{{ object.remote.get_absolute_url }}"><span class="badge badge-light">{{ object.remote.name }}</span></a></dd>
	{% else %}
	<dt>Configured here</dt>
	{% endif %}
	<dt>IPv4 address</dt>
	<dd><code>{{ object.ipv4 }}</code></dd>
	<dt>IPv6 address</dt>
	<dd><code>{{ object.ipv6 }}</code></dd>
	<dt>Nameserver</dt>
	<dd><code>{{ object.nameserver }}</code></dd>
	<dt>Master zones</dt>
	<dd>
		{% for record in object.zones_master.all %}
			<span class="badge badge-light"><a href="{{ record.get_absolute_url }}">{{ record }}</a></span>
		{% endfor %}
	</dd>
	<dt>Slave zones</dt>
	<dd>
		{% for record in object.zones_slave.all %}
			<span class="badge badge-light"><a href="{{ record.get_absolute_url }}">{{ record }}</a></span>
		{% endfor %}
	</dd>
</dl>

{% endblock %}
