
ALLOWED_HOSTS = [
	'example.com'
]

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.mysql',
		'NAME': 'pydnsui',
		'USER': 'pydnsui',
		'PASSWORD': 'password',
		'HOST': 'mysql',
		'PORT': '3306',
	}
}
