{% load fontawesome_5 %}
{% load helpers %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>pyDNS UI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% fontawesome_5_static %} 
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" role="navigation">
				<a class="navbar-brand" href="{% url 'index' %}">pyDNS UI</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
					{% if user.is_authenticated %}
						<li class="nav-item"><a class="nav-link active" href="{% url 'config:zone-list' %}">{% fa5_icon 'cogs' %} Local configuration</a></li>
						<li></li>
						<li class="nav-item dropdown">
							<a class="nav-link active dropdown-toggle" id="dropdown-federation" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% fa5_icon 'cloud' %} Federation</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-federation">
								<a class="dropdown-item" href="{% url 'fed:remote-list' %}">Remotes</a>
								<a class="dropdown-item" href="{% url 'fed:server-list' %}">Server</a>
								<a class="dropdown-item" href="{% url 'fed:zone-list' %}">Zones</a>
							</div>
						</li>
						<li></li>
						<li class="nav-item"><a class="nav-link active" href="{% url 'ddns:zone-list' %}">{% fa5_icon 'network-wired' %} DynDNS</a></li>
					{% endif %}
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item navbar-text">
						{% if user.is_authenticated %}
							Logged in as {{user.username}} (<a href="/accounts/logout">{% fa5_icon 'sign-out-alt' %} Logout</a>)
						{% endif %}
						</li>
					</ul>
				</div>
			</nav>
			<div class="container-fluid" style="padding-top: 60px;">
				{% block content %}No Content{% endblock %}
			</div>
			<nav class="navbar fixed-bottom navbar-light bg-light">
				<span class="mx-auto">{% git_version %}</span>
			</nav>
		</div>
	</body>
</html>
